<!DOCTYPE html>
<html>
<style>
  .logo {
    padding-top: 17%;
  }
</style>

<head>
  <title>Abc tenant | Apartment Management System</title>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta content="template language" name="keywords">
  <meta content="Tamerlan Soziev" name="author">
  <meta content="Admin dashboard html template" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="icon" href="https://app.abctenant.com//img/images/keys.webp" type="image/webp">
  <link href="https://app.abctenant.com//img/images/keys.webp" rel="shortcut icon">
  <link href="https://app.abctenant.com/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="https://app.abctenant.com/css/main.css?version=4.4.0" rel="stylesheet">
  <link href="https://app.abctenant.com/css/custom.css?version=4.4.0" rel="stylesheet" type="text/css">

</head>


<body class="auth-wrapper">
  <div class="all-wrapper menu-side with-pattern">
    <div class="auth-box-w" style="max-width:560px">
      <div class="logo1">
        <div class="text-center p-3">
          <img alt="" src="https://app.abctenant.com//img/images/keys.webp" width="126px">
        </div>

                        <!-- <a href="index.html"><img alt="" src="img/logo-big.png"></a> -->
      </div>
              <div class="el-tablo bigger highlight bold-label text-center">
          <div class="display-4 mb-4 text-primary fancy_text4 mb-3">Login</div>
        </div>
            <form method="post" action="https://app.abctenant.com/User_authentication">
        <div class="form-group">
          <label for="">Email address</label>
          <input class="form-control" placeholder="Enter your email address" type="text" name="email">
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input class="form-control" placeholder="Enter your password" type="password" name="password">
          <!-- <div class="pre-icon os-icon os-icon-fingerprint"></div> -->
        </div>
        <div class="buttons-w d-flex justify-content-between">
          <div class="buttons-w1 col-sm-6">
            <a style="border 1px solid blue" href="https://app.abctenant.com/User_authentication/forgot_password"><span class="fancy_text3 display-7sm">Forgot password?</span></a>
          </div>
          <button class="btn btn-primary px-4 py-3 col-sm-6" style="">Log in</button>
        </div>

        <div class="ae-list-w border1 mt-5 border border-primary border-right-0 border-left-0  p-2" style="border-color: red;">
          <a class="ae-load-more fancy_text3 display-6 text-default" href="https://app.abctenant.com/User_authentication/user_registration_show"><span>Create an account</span></a>
        </div>

      </form>

      <!-- <div class="message-attachments">
        <div class="attachments-heading">Attachments</div>
        <div class="attachments-docs"><a href="#"><i class="os-icon os-icon-ui-51"></i><span>Excel Document</span></a><a href="#"><i class="os-icon os-icon-documents-07"></i><span>Image File</span></a></div>
      </div> -->

      <!-- <div class="form-desc text-center display-6 ">Don't have an account? <a href="https://v4-alpha.getbootstrap.com/components/modal/" target="_blank">clicking here</a></div> -->


    </div>
    <!-- <div class="auth-box-w">
      <div class="element-box1 bg-white">
        <button class="btn btn-primary px-4 py-3 col-sm-6" style="">Log me in</button>
      </div>
    </div> -->
  </div>
</body>

</html>