<div
    style="background-color: #fff; max-width: 550px; margin: auto; border-radius: 8px; padding: 6% 2%; border: thin solid #dadce0;">
    <div
        style="font-family: Avenir Next W01,Roboto,RobotoDraft,Helvetica,Arial,sans-serif; color: rgba(0,0,0,0.87); line-height: 32px; padding-bottom: 24px;">
        <div
            style="margin: 0px auto; border-bottom: thin solid #dadce0; color: rgba(0,0,0,0.87); box-shadow: 0px 20px 50px rgba(0,0,0,0.05);">

            <div style="padding: 60px 10% 0px; border-top: 1px solid rgba(0,0,0,0.05);">
                <h1 style="margin-top: 0px; color: #000;">
                    <span style="font-family: verdana, geneva, sans-serif; font-size: 18pt;">Hi
                        {{name}},</span>
                </h1>
                <div style="color: #636363; font-size: 14px;">
                    <p>
                        <span style="font-family: verdana, geneva, sans-serif; font-size: 13pt;">
                         
                            {{body}}


                        </span>
                    </p>

                    <table style="border-collapse: collapse; width: 100%;">
                        <tbody>
                            <tr>
                                <td style="width: 50%;">
                                    <span style="font-family: " arial black", sans-serif;">
                                        <a href="{{href}}"
                                            style="text-align: center; width: 70%; padding: 10px 12%; background-color: {{color}}; color: #fff; font-weight: bolder; font-size: 90%; display: inline-block; margin: 10px 0px; text-decoration: none;">View
                                            document</a>
                                    </span>
                                </td>
                                <td style="width: 50%;">
                                    <span style="font-family: " arial black", sans-serif;">
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="border: 1px dotted #111; margin: 10px 0px; padding: 10px 15px;">
                        <table style="border-collapse: collapse1; width: 100%;padding:2%">
                            <tbody>
                                <tr style="background-color:#FEF9E7 ">
                                    <td
                                        style="padding: 10px 0px; padding-left:4%; color: {{color}}; letter-spacing: 1px; font-size: 15px; font-weight: bold; width: 47%;">
                                        Amount 
                                        <span style="padding-top:10px;font-size:12px;font-weight: bold;fsloat:right">(in
                                            USD):</span>
                                    </td>
                                    <td
                                        style="padding: 10px 0px;padding-right:4%; color: #111; letter-spacing: 1px; text-align: right; font-weight: bold; font-size: 15px; width: 50%;">
                                        <span style="color:{{color}}">{{amount}}</span></td>
                                </tr>
                                <tr style="background-color:#FEF9E7 ">
                                    <td
                                        style="padding: 10px 0px; padding-left:4%; color: {{color}}; letter-spacing: 1px; font-size: 15px; font-weight: bold; width: 47%;">
                                        From:</td>
                                    <td
                                        style="padding: 10px 0px;padding-right:4%; color: #111; letter-spacing: 1px; text-align: right; font-weight: bold; font-size: 15px; width: 50%;">
                                        {{from}}<br><span style="color:{{color}}">(
                                            {{property}})</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>