{% extends 'base.html' %}
{% load static %}

{% block title %} terminate lease {% endblock title %}

{% block modal %}
<div aria-hidden="true" data-backdrop="static" data-tab="sub_modal"
    class="onboarding-modal modal fade animated sub_modal" style='z-index:1060 !important' id="edit_document_modal"
    role="dialog" tabindex="-1">
    <div class="modal-dialog modal-centered " role="document">
        <form method="POST" id='edit_document_form'>
            <div class="modal-content">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                        class="close-label">Close</span><span class="os-icon os-icon-close"></span></button>
                <div class="onboarding-slider-w sub_modal">
                    <div class="onboarding-slide">
                        <div class="onboarding-content with-gradient">
                            <h4 class="onboarding-title display-10 fancy_text4 lead text-left">Let's begin </h4>
                            <hr>
                            <input type="hidden" id="edit_photos_id" name="id">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group ">
                                        <label class="control-label">Name</label>
                                        <input class="form-control editable" type="text"
                                            placeholder="Example:Termination letter" name="name" id="edit_phot_name">
                                    </div>
                                </div>
                            </div>
                            <div class="div_upload_file mt-4">
                                <label for="" style="font-size:15px"
                                    class='text-center col-sm-12  fancy_text3 text-black '>
                                    <span class='fancy_text4 text-primary font-w600'>Select a file to upload </span>
                                </label>
                                <input type="file" name='document'
                                    class="form-control-file btn-rounded btn btn-outline-primary px-5 py-2"
                                    id="document">
                            </div>
                        </div>
                        <br><br><br>
                    </div>

                    <div class="onboarding-slide">

                        <div class="onboarding-content with-gradient">

                            <input type="hidden" name="tenant" id="document_tenant">
                            <h4 class="onboarding-title lead display-8 text-center">Are you done?</h4>
                            <div class="form-buttons-w d-flex flex-row justify-content-end">
                                <button class="btn btn-primary p-3" id="submit_doc" type="submit">Upload
                                    records</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div aria-hidden="true" data-backdrop="static" class="onboarding-modal modal fade animated" id="tenant_document_modal"
    role="dialog" tabindex="-1">
    <div class="modal-dialog modal-centered modal-lg" role="document">
        <div class="modal-content">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                    class="close-label">Close</span><span class="os-icon os-icon-close"></span></button>
            <form method="post" id="tenant_document_form">
                <div class="modal-content">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            class="close-label">Close</span><span class="os-icon os-icon-close"></span></button>
                    <div class="onboarding-slider-w ">
                        <div class="onboarding-slide">
                            <div class="onboarding-content with-gradient">
                                <h4 class="onboarding-title display-10 text-left text-primary fancy_text4">Add documents
                                </h4>
                                <hr>
                                {% comment %} <div class="row mb-2">
                                    <div class="d-flex justify-content-between mb-3">
                                        <button
                                            class="btn btn-primary justify-content-end px-5 py-2 mr-sm-4 text-white add_doc_button"
                                            type='button'><span>Click to add</span></button>
                                    </div>
                                </div> {% endcomment %}
                                 <div class="row mb-5">
                                     <div class="d-flex justify-content-end col-12">
                                         <button class="btn btn-primary btn-rounded px-5 py-2 mr-sm-4 text-white
                                              add_doc_button" type='button'><span>Click to add</span></button>
                                     </div>
                                 </div>
                                <div class="table-responsive" style="cursor: pointer;">
                                    <table id='tenant_document_table'
                                        class="table display responsive dataTable" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th class="text-left">Image</th>
                                                <th class="text-left">Name</th>
                                                <th class="text-left"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-left">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="onboarding-slide">
                            <div class="onboarding-content with-gradient">
                                <h4 class="onboarding-title display-8 text-center fancy_text3">Are you done?</h4>

                                <div class="form-buttons-w d-flex flex-row justify-content-end">
                                    <!-- <button class="btn btn-primary p-3 submit" type="submit">Continue</button> -->
                                    <button aria-label="Close" class="btn btn-primary btn-rounded px-5 py-3"
                                        data-dismiss="modal" type="button">Click to close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div aria-hidden="true" data-backdrop="static" class="onboarding-modal modal fade animated" id="tenant_lease_modal"
    role="dialog" tabindex="-1">
    <div class="modal-dialog modal-centered modal-lg" role="document">
        <div class="modal-content">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                    class="close-label">Close</span><span class="os-icon os-icon-close"></span></button>
            <form method="post" id="lease_form">
                <div class="modal-content">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                            class="close-label">Close</span><span class="os-icon os-icon-close"></span></button>
                    <div class="onboarding-slider-w tenant_lease_modal">
                        <div class="onboarding-slide">
                            <div class="onboarding-media"><img alt=""
                                    src="<?php echo base_url(); ?>/img/images/handshake.webp" width="100px">
                            </div>
                            <div class="onboarding-content with-gradient">
                                <h4 class="onboarding-title display-10 text-left text-primary fancy_text3">Create a
                                    lease</h4>
                                <hr>
                                <div class="row search_lease_row">
                                    <div class="col-sm-12">
                                        <div class=" form-group">
                                            <label for=""> Select a lease </label>
                                            <select class="selectpicker form-control" id='search_lease' data-size="4"
                                                data-live-search="true" name="search_lease">
                                                <option selected="" disabled=""> No unit available</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label>Termination date</label>
                                        <div class="date-input "><input type="text" placeholder="Date:" name="date"
                                                id="date" autocomplete="off" class="all_date form-control  date_normal">
                                        </div>
                                    </div>
                                </div>
                                <br><br><br><br>
                            </div>
                        </div>
                        <div class="onboarding-slide">
                            <div class="onboarding-content with-gradient">
                                <h4 class="onboarding-title display-7 text-left text-primary fancy_text4">Lease term
                                </h4>
                                <hr>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class=" form-group">
                                            <label for=""> Reason</label>
                                            <select class=" form-control" id="reason" name="reason" tabindex="0">
                                                <option selected="" value="End of lease term">End of lease term</option>
                                                <option value="Failure to pay rent">The tenant has failed to pay rent
                                                </option>
                                                <option value="Lease Violation">The tenant has violated the lease
                                                    agreement</option>
                                                <option value="Criminal activity">The tenant has engaged in criminal
                                                    activity</option>
                                                <option value="custom">A different reason</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group "><label>Description </label><textarea
                                                placeholder="Example: Failed to pay rent on time" class="form-control"
                                                rows="5" name="description" id="request_data_desc"></textarea></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="onboarding-slide">
                            <div class="onboarding-content with-gradient">
                                <h4 class="onboarding-title display-8 text-center fancy_text3">Are you done?</h4>
                                <div class="form-buttons-w d-flex flex-row justify-content-end ">
                                    <input type="hidden" class="lease_action">
                                    <input type="hidden" id="lease" name="lease">
                                    <!-- <button class="btn btn-primary p-3 submit" type="submit">Continue</button> -->
                                    <button class="btn btn-primary px-5 py-2 submit" type="submit"
                                        id="submit_lease">Terminate lease</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock modal %}
{% block content %}
<div class="content-body" style="min-height: 828px;">
    <!-- row -->
    <div class="container-fluid">
        <div class="card mx-3">
            <div class="card-header d-block mx-3 text-center">
                <h5 class="card-titles display-4 custom-card-title text-primary">Leases termination</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="col-12">
                    <div class="card px-3">
                        {% include 'partials/_table_extra.html' with button_class="" button_id="add_lease_button" button_text="Click to add" total_class="total_lease" total_text="leases terminated"  %}

                        {% comment %} <div class="table-extra my-2">
                            <div class="row my-4 mx-3 pt-47 d-flex justify-content-end">
                                <button class="btn btn-primary  py-2 px-5 btn-rounded" type="button"
                                    id="add_lease_button"><span>Click to add</span></button>
                            </div>
                            <div class="row my-3 mx-4 pt-47 d-flex justify-content-start">
                                <h4 class="card-title"><span class="display-4 total_lease">Please wait</span> leases
                                    terminated</h4>
                            </div>

                        </div> {% endcomment %}
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="lease_table" class="display min-w850">
                                    <thead>
                                        <tr>

                                            <th>Tenant</th>
                                            <th>Lease type</th>
                                            <th>Reason for termination</th>
                                            <th>Termination date</th>
                                            <th></th>


                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% block scripts %}
{% include 'partials/_select_options.html' %}
{% include 'partials/_date.html' %}

<script>
//Lease crud----------------------------------------------------------------------------------------

       $(document).on('change', '#search_lease', function() {
		var data = $(this).val();
            
		if (data) {
		var data_split = data.split(",");
        var lease = data_split[0];
        var unit = data_split[1];
        var tenant = data_split[2];
        $('#lease').val(lease);
        $('#document_tenant').val(tenant);
		}
	

	});
       $(document).on('click', '#add_lease_button', function () {
         select_option.lease('#search_lease');
        $('.search_lease_row').removeClass("d-none");
        $('.lease_action').val("add");
        $('#submit_lease').attr('disabled', false);
        $("#submit_lease").html("Terminate lease");
        $('#tenant_lease_modal').modal('show');

    });
        $(document).on('submit', '#lease_form', function (event) { 
            var action_type = $('.lease_action').val();
  
            if (action_type =='add'){
                var method='POST';
                var url ='{% url "tenant:terminate-listcreate" %}';
            }
           
            event.preventDefault();
            var form_data = new FormData(this);
            $.ajax({
                method: method,
                url: url,
                data: form_data,
                contentType: false,
                processData: false,
                dataType: "json",
                beforeSend: function () {
                    $('#submit_lease').attr('disabled', 'disabled');
                    $("#submit_lease").html("Please wait");
                },
                success: function (data) {
                   
                    if (data.success) {
                         $("#submit_lease").html("----------");
                     
                         $('#tenant_lease_modal').modal('hide');
                        $('#tenant_document_modal').modal('show');
                        tenant_document_table();
                        lease_table.ajax.reload();
                    
                    }
                    if (data.error) {
                         $('#submit_lease').attr('disabled', false);
                       $("#submit_lease").html("Click to submit");
                        $('#oops_text').text(data.error);
                        $('#oops_alert').modal('show');
                    }
                },
                error: function (jqXhr) {
                    $('#submit_lease').attr('disabled', false);
                    $("#submit_lease").html("Click to submit");
                    $('#oops_text').text("Something went wrong, try again later");
                    $('#oops_alert').modal('show');
                    $('#tenant_lease_modal').modal('hide');
                }
            });
        
        });
       
        $(document).on('click', '.edit_termination', function () {
            var data = $(this).attr("id");
            $('#lease_form')[0].reset();
            $('.lease_action').val("booss");
          $('#submit_lease').attr('disabled', 'disabled');
          $("#submit_lease").html("--------------");
            //$('.onboarding-modal .guarantor_slick_modal').slick('slickGoTo', 0);
            $.ajax({
                url : "{% url 'tenant:terminate-rud' id=12345 %}".replace(/12345/, data).toString(),
                method: "GET",
                dataType: "json",
                success: function(data) {
                 
                    
                     $('.search_lease_row').addClass("d-none");
                    $('#reason').val(data.reason).change();
                    $('#date').val(data.date);
                    $('#description').val(data.description);
                    $('#tenant_lease_modal').modal('show');
                }
            })
        });

   
      
        
        var lease_table=$("#lease_table").DataTable({
            processing: true,
            serverSide: true,
            oLanguage: {
              sEmptyTable: "Currently no lease has been terminated"
            },
            ajax: {
              url: '{% url "tenant:terminate-listcreate" %}',
            },
            "fnDrawCallback": function() {
                $('.total_lease').html(this.fnSettings().fnRecordsTotal());
            }
          });
        
 //docuemnts---------------------------------------------------------------------------   
   $(document).on('click', '.add_doc_button', function() {
$('#edit_document_form')[0].reset();
    $('#edit_document_modal').modal('show');
   
});

$('#tenant_document_table').css('min-height', '200px');
$('#tenant_document_table').css('wdith', '100%');
function tenant_document_table() {
    url_data = '{% url "tenant:documents-listcreate" %}';
    tenant= $('#document_tenant').val();
    $('#tenant_document_table').DataTable({
        //processing: true,
        //serverSide: true,
        "destroy": true,
        "bAutoWidth": false,
        "bFilter": false,
        "bPaginate": false,
        "bFilter": false,
        "bInfo": false,
        "oLanguage": {
            "sEmptyTable": "No document added"
        },
        
        "ajax": {
            "url": url_data,
            "data": {
                "tenant": tenant,
                
            }
        },
      
        "bPaginate": false,
        "pageLength": 10,

    });
        jQuery('#tenant_document_table').wrap('<div class="dataTables_scroll" />');

}
$(document).on('submit', '#edit_document_form', function(event) {  
    var method='POST';
    var url = '{% url "tenant:documents-listcreate" %}';
    var form_data = new FormData(this);
    event.preventDefault();
    $.ajax({
        method: method,
        url: url,
        data: form_data,
        contentType: false,
        processData: false,
        dataType: "json",
        beforeSend: function() {
            $('#submit_doc').attr('disabled', 'disabled');
            $("#submit_doc").html("Please wait");
        },
        success: function(data) {
            $('#submit_doc').attr('disabled', false);
            $("#submit_doc").html("Upload records");
            if (data.success) {
    
                tenant_document_table();
                $('#edit_document_modal').modal('hide');
                $('#success_text').text(data.success);
                $('#success_alert').modal('show');
               // $('.onboarding-modal .edit_the_photos').slick('slickGoTo', 0);
                $('.onboarding-modal .onboarding-slider-w').slick('setPosition');
            }
            if (data.error) {
                $('#oops_text').text(data.error);
                $('#oops_alert').modal('show');
            }
        },
        error: function(jqXhr) {
            $('#submit_doc').attr('disabled', false);
            $("#submit_doc").html("Upload records");
            $('#oops_text').text("Something went wrong, try again later");
            $('#oops_alert').modal('show');
            $('#edit_document_modal').modal('hide');
        }

    });
});  
$(document).on('click', '.delete_doc_button', function() {
    var id = $(this).attr("id");


    $('#confirm_title').text("Just confirming...");
    
    $('#confirm_text').text("Do you really want to delete this document?");
    $('#confirm_button').text("Confirm delete");
    $('#confirm_alert').modal('show');
    $('#confirmYes').one('click', function() {
        $.ajax({
            url :"{% url 'tenant:documents-rud' id=12345 %}".replace(/12345/, id).toString(),
            method: "DELETE",			
            dataType: "json",
        
            success: function(data) {
                tenant_document_table();
                  
                $('#success_text').text("Docuemnt removed.");
                $('#confirm_alert').modal('hide');
                $('#success_alert').modal('show');
            }
        });

    });
    $("#confirmNo").click(function() {
        $('#confirm_alert').modal('hide');
    });

});


$(document).on('click', '.edit_document', function () {
    var tenant = $(this).attr("id");
    $('#document_tenant').val(tenant);
     tenant_document_table();
    $('#tenant_document_modal').modal('show');

  
});
</script>

{% endblock scripts %}



{% endblock content %}


<!--**********************************
    Content body end
***********************************-->