{% extends 'base.html' %}
{% load static %}

{% block title %} {{request.path}} {% endblock title %}

{% block content %}

<div class="content-body" style="min-height: 828px;">
    <!-- row -->
    <div class="container-fluid">


        <div class="card mx-3">
            <div class="card-header d-block mx-3 text-center">
                <h5 class="card-titles display-4 custom-card-title ">Outstanding balances</h5>

            </div>
        </div>

        <div class="row ">
            <div class="col-xl-12">
                <div class="col-12">
                    <div class="card px-3">
                        <div class="table-extra my-2">
                           
                            <div class="row my-3 mx-4 pt-47 d-flex justify-content-start">
                                <h4 class="card-title"><span class="display-4 total_invoices"> Please wait</span>
                                    records</h4>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="balance_table" class="display min-w850">
                                    <thead>
                                        <tr>
                                            <th>Tenant.</th>
                                            <th>Invoices created</th>
                                            <th>Payments collected</th>
                                            
                                            <th>Balance</th>
                                    </thead>
                                    <tbody>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% block scripts %}



<script>
    $(document).ready(function () {
        balance_table();
    });

    function balance_table() {

        var url = "{% url 'finance:balances-listcreate' %}";
        $('#balance_table').DataTable({
            processing: true,
            serverSide: true,
            "destroy": true,
            "bAutoWidth": false,
            "responsive": true,
            // "bLengthChange": false,
            "ordering": false,
            "oLanguage": {
                "sEmptyTable": "No balances found",
                "sStripClasses": "",
                "sSearch": "",
                "sSearchPlaceholder": "search...",
                "sLengthMenu": '<span>Rows per page:</span><select class="browser-default">' +
                    '<option value="10">10</option>' +
                    '<option value="20">20</option>' +
                    '<option value="30">30</option>' +
                    '<option value="40">40</option>' +
                    '<option value="50">50</option>' +
                    '<option value="50">100</option>' +

                    '</select></div>'
            },
            initComplete: function () {
                var btns = $('.dt-button');
                btns.removeClass('dt-button');
            },
            "ajax": {
                "url": url,


            },

            "bPaginate": true,
            "bProcessing": true,
            "pageLength": 10,


            "fnDrawCallback": function () {
                $('.total_invoices').html(this.fnSettings().fnRecordsTotal());
            },

        });



    }
</script>
{% endblock scripts %}



{% endblock content %}


<!--**********************************
    Content body end
***********************************-->