<!-- CSS Code: Place this code in the document's head (between the 'head' tags) -->
{% load static %}

<style>
     @font-face {
         font-family: fancy_text5; 
         src:url({% static 'css/fonts/fancy_text5.ttf' %})}

    table.GeneratedTable {
        width: 100%;
        background-color: #ffffff;
        border-collapse: collapse;
        border-width: 2px;
        {% comment %} border-color: #ffcc00; {% endcomment %}
        border-style: solid;
        color: #000000;
    }

    table.GeneratedTable td,
    table.GeneratedTable th {
        border-width: 2px;
        {% comment %} border-color: #ffcc00; {% endcomment %}
        border-style: solid;
        padding: 3px;
    }
    table.GeneratedTable th,
    .bg-brown {
      background-color:#FFFFE0 !important;
    }

    
.title-left,.title-right{
    font-size:1.4rem;
    color:#616A6B;
    font-family:fancy_text5

   
}
    
.title-left,.paragraph{
   margin-left:30px !important;
    font-weight:400; 
}

 
  
    .pdf-heading{
    
        font-size:4.4rem;
          color:{% if invoice_type == "invoice" %}#4B72FA;{% else %}#D98880;{% endif %}
          font-weight: 700;
          line-height: 1.4;
          padding:60px;
          margin-left:30px;
        font-family:'fancy_text5'
        
    }
.spacing{
   background-color:white;margin:1.2rem 0.8rem;padding:0px;
}
.paragraph{
    margin-top:1.5rem;
}
 @page {
 * {
 margin: 0;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 }
 size: letter landscape;
 }
 @page { size: letter landscape; }

</style>

<!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
<table class="GeneratedTable">
    <thead class="pdf-main-header" >
        <tr >
            <th colspan="3" style="text-align:left;"></th>
            {% comment %} <th></th>
            <th></th> {% endcomment %}
        </tr>
        <tr >
            <th colspan="3" class="pdf-heading" style="text-align:left;">{{invoice_type|capfirst}}</th>
            {% comment %} <th></th>
            <th></th> {% endcomment %}
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="vertical-align: top;" class=" bg-brown">
                  <table border=" 0" cellspacing="0" cellpadding="0" align="left"
                      style="width:100%;text-align: left;padding-right:0.9rem;padding-left:0.9rem;">
                      <tbody >
                          <tr >
                              <td class="title-left" 
                                   align="left">No.</td>
                              <td class="title-right"
                                  align="left"width="60%">{{statement_invoice}}</td>

                          </tr>
                          <tr >
                              <td class="title-left"
                                   align="left">Created on.</td>
                              <td class="title-right"
                                  align="left">{{created_on}}</td>

                          </tr>
  

                      </tbody>
                  </table>
                 <div class="spacing">&nbsp;</div>
                <div class="paragraph" >
                    <span class="title-left">(From)</span>

                </div>
             <div class="paragraph">
                    <span class="title-left">{{property}}</span>

                </div>
             <div class="paragraph">
                    <span class="title-left">{{street}}</span>

                </div>
             <div class="paragraph">
                    <span class="title-left">{{city}},{{country}}</span>

                </div>
               <div class="paragraph">
                    <span class="title-left">{{added_by_email}}</span>

                </div>

            </td>
            
            <td colspan="2"
                style="vertical-align: top;border-top:12px solid
                #FFFFE0;padding-left:35px;padding-right:35px;padding-top:35px;border-right:12px solid #FFFFE0;">
                <table border=" 0" cellspacing="0" cellpadding="0" align="left"
                    style="width:100%;text-align: left;padding-right:0.9rem;padding-left:0.9rem;">
                    <tbody style="padding-right:0.9rem;padding-left:0.9rem;">
                       
                        <tr
                            style="background-color:#FFFFE0; border-bottom: 1px solid {% if invoice_type == "invoice" %}#4B72FA;{% else %}#D98880;{% endif %}border-right: 1px solid
                            #ECF0F1;border-left: 1px solid #ECF0F1;border-top: 1px solid #ECF0F1;">
                            <th style=" font-family:'fancy_text3', sans-serif;font-size:1.1rem;color:#616A6B;"
                                width="52%" align="left">Bill</th>
                            <th style=" font-family:'fancy_text3', sans-serif;font-size:1.1rem;color:#616A6B;"
                                align="left">Amount</th>

                            <th style=" font-family:'fancy_text4', sans-serif;font-size:1.1rem;color:#616A6B;"
                                align="left">Deadline</th>
                        </tr>


                        {% for row in invoice %}

                        <tr
                            style="border-bottsom: 1px solid #ECF0F1;border-left: 1px solid #ECF0F1;border-right: 1px solid #ECF0F1;margin-left:0.9rem">
                            <td style="font-size: 12px; font-family: 'joseph', sans-serif; color: #616A6B;  line-height: 18px;  vertical-align: top; padding:10px 0;"
                                class="article">
                                {{row.name}}
                            </td>
                            <td style="font-size: 15px; font-family: 'joseph', sans-serif; color: #616A6B;  line-height: 18px;  vertical-align: top; padding:10px 0;"
                                align="left">
                                {{row.amount}}
                            </td>

                            <td style="font-size: 15px; font-family: 'joseph', sans-serif; color: #616A6B;  line-height: 18px;  vertical-align: top; padding:10px 0;"
                                align="left">
                                {{row.deadline_date}}
                            </td>


                        </tr>

                        {% endfor %}
                       

                    </tbody>
                </table>

            </td>

        </tr>
        
        <tr>
            
            <td style="vertical-align: top;" class=" bg-brown">
                 <div class="spacing">&nbsp;</div>
                <div class="paragraph">
                    <span class="title-left">(To)</span>

                </div>
                 <div class="paragraph">
                    <span class="title-left">{{tenant}}</span>

                </div>
             
               <div class="paragraph">
                    <span class="title-left">{{property}},</span>

                </div>
                <div class="paragraph">
                    <span class="title-left">{{email}}</span>

                </div>
                 <div class="paragraph">
                    <span class="title-left">Phone.</span>
                    <span class="title-right"> ({{calling_code}}) {{phone}}</span>
                </div>
                <br> <br> 
            </td>
            <td colspan="1"
                style="vertical-align: top;padding-left:35px;padding-right:5px;border-bottom:12px solid #FFFFE0;">
                <table border=" 0" cellspacing="0" cellpadding="0" align="left"
                    style="width:100%;;width:100%;text-align:
                    left;padding-right:0.9rem;padding-left:0.9rem;">
                    <tbody style="padding-right:0.9rem;padding-left:0.9rem;">
                        <tr style="background-color:#FFFFE0;border-bottom:1px solid #ECF0F1;">
                            <th style=" font-family:'fancy_text3', sans-serif;font-size:1.1rem;color:#616A6B"
                                align="left">Notes</th>

                        </tr>


                        {% for row in invoice %}

                        <tr style="margin-left:0.9rem">
                            <td style="font-size: 15px; font-family: 'joseph', sans-serif; color: #616A6B;  line-height: 18px;  vertical-align: top; padding:10px 0;"
                                class="article">
                                {{row.description}}
                            </td>



                        </tr>

                        {% endfor %}

                    </tbody>
                </table>

            </td>
            <td colspan="1"
                style="vertical-align: top;border-right:12px solid
                #FFFFE0;padding-right:35px;border-bottom:12px solid #FFFFE0;">
                <table border=" 0" cellspacing="0" cellpadding="0" align="left"
                    style="width:100%;;width:100%;text-align:
                    left;padding-right:0.9rem;padding-left:0.9rem;">
                    <tbody style="padding-right:0.9rem;padding-left:0.9rem;">
                        <tr style="background-color:#FFFFE0;border-bottom:1px solid #ECF0F1;">
                            <th colspan=2 style=" font-family:'fancy_text3', sans-serif;font-size:1.1rem;color:#616A6B"
                                align="left">Payment options</th>

                        </tr>


                                {% for row in payment_options %}

                                <tr>

                                    <td style="font-family:'fancy_text3', sans-serif;font-size:1.3rem;color:#616A6B;padding:10px 0;line-height: 35px;"
                                        align="left">
                                        {{row.type}}
                                    </td>
                                    <td stygle="font-family:'fancy_text3', sans-serif;font-size:1.3rem;color:#616A6B;padding:10px 0;line-height: 35px;"
                                        align="left">
                                        {% if row.category == "bank" %}
                                        Bank: {{row.name}}<br> Acc: {{row.account_info}}
                                        {% elif row.category == "custom" %}Acc: {{row.account_info}} {% else%}
                                        -------{% endif %}
                                    </td>

                                </tr>

                                {% endfor %}

                    </tbody>
                </table>

            </td>

        </tr>
    </tbody>
</table>
<!-- Codes by Quackit.com -->