{% extends 'base.html' %}
{% load static %}

{% block title %} {{request.path}} {% endblock title %}

{% block modal %}



<div aria-hidden="true" data-backdrop="static" class="onboarding-modal modal fade animated " id="start_payments_modal"
    role="dialog" tabindex="-1">
    <div class="modal-dialog modal-centered modal-lg" role="document">
        <form method="POST" id='payment_option_form'>
            <div class="modal-content">
                <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
                        class="close-label">Close</span><span class="os-icon os-icon-close"></span></button>
                <div class="onboarding-slider-w ">
                    <div class="onboarding-slide">
                        <div class="onboarding-content with-gradient">
                            <h4 class="onboarding-title display-10 text-left fancy_text5 ">Add a payment option
                            </h4>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group select_property">
                                        <label for="">Select a property</label>
                                        <select class="form-control selectpicker" data-live-search="true"
                                            name="property" title="Choose a property..." id='select_property'>
                                            <option selected="" disabled="">Select a property</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label for="">category</label>
                                        <select class="form-control " name="category" id='category'>
                                            <option selected="" value="bank">Bank</option>
                                            <option value="cash">Cash</option>
                                            <option value="custom">Create a custom option</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="custom_row d-none">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <div class="form-group required">
                                            <label class="control-label">What is the custom payment means?
                                            </label>
                                            <input class="form-control editable" type="text"
                                                placeholder="Enter custom payment means" name="type" id="means">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bank_row d-none">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <div class="form-group required">
                                            <label class="control-label">Bank name
                                            </label>
                                            <input class="form-control editable" type="text"
                                                placeholder="What is the bank name" name="name" id="name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="info_row d-none">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group required">
                                            <label class="control-label account_info_placeholder">Account info
                                            </label>
                                            <input class="form-control editable" type="text"
                                                placeholder="Enter account info" name="account_info" id="account_info">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="onboarding-slide">
                        <div class="onboarding-content with-gradient">
                            <input type="hidden" class="action_type">
                            <input type="hidden" id="payment_option_id">
                            <h4 class="onboarding-title lead display-8 text-center">Are you done?</h4>
                            <div class="form-buttons-w d-flex flex-row justify-content-end">
                                <button class="btn btn-primary py-3 px-5" type="submit" id="submit_option">Upload option

                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock modal %}
{% block content %}

<div class="content-body" style="min-height: 828px;">
    <!-- row -->
    <div class="container-fluid">


        <div class="card mx-3">
            <div class="card-header d-block mx-3 text-center">
                <h5 class="card-titles display-10 fancy_text5 custom-card-title ">Payment options <br> <span
                        class="display-10 ">that your tenants can use</span> </h5>

            </div>
        </div>

        <div class="row ">
            <div class="col-xl-12">
                <div class="col-12">
                    <div class="card px-3">
                        {% include 'partials/_table_extra.html' with button_class="start_payments_button" button_id="start_payments_button" button_text="Add an option" total_class="total_payments" total_text="options"  %}

                        {% comment %} <div class="table-extra my-2">
                            <div class="row my-4 mx-3 pt-47 d-flex justify-content-end">

                                <button class="btn btn-primary  py-2 px-5 btn-rounded start_payments_button"
                                    type="button" id="start_payments_button"><span>Collect payments</span></button>
                            </div>
                            <div class="row my-3 mx-4 pt-47 d-flex justify-content-start">
                                <h4 class="card-title"><span class="display-4 total_payments"> Please wait</span>
                                    records</h4>
                            </div>
                        </div> {% endcomment %}

                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="payment_option_table" class="display min-w850">
                                    <thead>
                                        <tr>
                                            <th>Property.</th>
                                            <th>Means</th>
                                            <th>Name</th>
                                            <th>Account number/info</th>
                                            <th></th>

                                    </thead>
                                    <tbody>
                                    </tbody>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% block scripts %}
{% include 'partials/_select_options.html' %}
{% include 'partials/_date.html' %}

<link rel="stylesheet" href="https://cdn.datatables.net/rowgroup/1.1.1/css/rowGroup.dataTables.min.css">
<script src="https://cdn.datatables.net/rowgroup/1.1.1/js/dataTables.rowGroup.min.js"></script>
<script>
    $(document).ready(function () {
        payment_option_table();
         select_option.create_invoice_property('#select_property');
    });


    $(document).on('click', '.start_payments_button', function () {
        $('.select_all').val('tenant');
        $(".select_payment").addClass("d-none");
        $(".lease_option").addClass("d-none");
        $('.start_payments_submit').addClass("d-none");
        $('.start_payments_cancel').addClass("d-none");
       
        $('.action_type').val("add");
        $('#category').val("bank").change();
        $('#start_payments_modal').modal('show');
    });

    $(document).on('change', '#category', function () {
        var payment_option = $(this).val();
        $('.custom_row').addClass("d-none");
        $(".account_info_placeholder").text("Account info");
        if (payment_option == 'bank') {

            $('.bank_row').removeClass("d-none");
            $('.info_row').removeClass("d-none");

            $(".account_info_placeholder").text("Account number");
        } else if (payment_option == "cash") {

            $('.bank_row').addClass("d-none");
            $('.info_row').addClass("d-none");
        } else if (payment_option == "custom") {
            $('.custom_row').removeClass("d-none");
            $('.bank_row').addClass("d-none");
            $('.info_row').removeClass("d-none");
        } else {
            $('.bank_row').addClass("d-none");
        }
        $('.onboarding-modal .onboarding-slider-w').slick('setPosition');
    });

    // ----------------------------------------------------------------------------------------------




    $(document).on('submit', '#payment_option_form', function (event) {

        var action_type = $('.action_type').val();

        if (action_type == 'add') {
            var method = 'POST';
            var url = '{% url "finance:payment_option-listcreate" %}';
        }
        if (action_type == 'edit') {
            var id = $('#payment_option_id').val();
            var method = 'PUT';
            var url = "{% url 'finance:payment_option-rud' id=12345 %}".replace(/12345/, id).toString();
        }
        var form_data = new FormData(this);
        event.preventDefault();
        $.ajax({
            method: method,
            url: url,
            data: form_data,
            contentType: false,
            processData: false,
            dataType: "json",
            beforeSend: function () {
                $('#submit_option').attr('disabled', 'disabled');
                $("#submit_option").html("Please wait");
            },
            success: function (data) {
                $('#submit_option').attr('disabled', false);
                $("#submit_option").html("Upload records");
                if (data.success) {
                    payment_option_table();
                    $('#start_payments_modal').modal('hide');
                    $('#success_text').text(data.success);
                    $('#success_alert').modal('show');
                }
                if (data.error) {
                    $('#oops_text').text(data.error);
                    $('#oops_alert').modal('show');
                }
            },
            error: function (jqXhr) {
                $('#submit_option').attr('disabled', false);
                $("#submit_option").html("Upload records");
                $('#oops_text').text("Something went wrong, try again later");
                $('#oops_alert').modal('show');
                $('#start_payments_modal').modal('hide');
            }

        });
    });

    function payment_option_table() {

        $(".fcp-group-contents").addClass('d-none');
        $(".create_invoice_record").removeClass('d-none');
        $(".third-floated-btn").removeClass('d-none');
        $(".filter_label").text('receipts');
        var url = "{% url 'finance:payment_option-listcreate' %}";
        $('#payment_option_table').DataTable({
            processing: true,
            serverSide: true,
            "destroy": true,
            "bAutoWidth": false,
            "responsive": true,
            // "bLengthChange": false,
            "ordering": false,
            "oLanguage": {
                "sEmptyTable": "No payment option added",
                "sStripClasses": "",
                "sSearch": "",
                "sSearchPlaceholder": "search...",
                "sLengthMenu": '<span>Rows per page:</span><select class="browser-default">' +
                    '<option value="10">10</option>' +
                    '<option value="20">20</option>' +
                    '<option value="30">30</option>' +
                    '<option value="40">40</option>' +
                    '<option value="50">50</option>' +
                    '<option value="50">100</option>' +

                    '</select></div>'
            },
            initComplete: function () {
                var btns = $('.dt-button');
                btns.removeClass('dt-button');
            },
            "ajax": {
                "url": url,


            },
            "order": [
                [0, 'asc']
            ],

            "rowGroup": {
                "dataSrc": 0
            },
            "columnDefs": [{
                    "width": 50,
                    "targets": 0
                },
                {
                    "visible": false,
                    "targets": 0,
                },
            ],
            "bPaginate": true,
            "bProcessing": true,
            "pageLength": 10,
            "fnDrawCallback": function () {
                $('.total_payments').html(this.fnSettings().fnRecordsTotal());
            },

        });


    }



    $(document).on('click', '.edit_payment_option', function () {
        var id = $(this).attr("id");
        $.ajax({
            method: 'GET',
            url :"{% url 'finance:payment_option-rud' id=12345 %}".replace(/12345/, id).toString(),
            dataType: "json",

            success: function (data) {
                $('#payment_option_id').val(data.id);
                $('#name').val(data.name);
                $('#means').val(data.means);
                $('#select_property').val(data.property).change();
                $('#account_info').val(data.account_info);
                $('#category').val(data.category).change();
                $('.action_type').val("edit");
                $('#start_payments_modal').modal('show');
            }
        })
    });
    $(document).on('click', '.remove_payment_option', function () {
        var data = $(this).attr("id");
        var data_split = data.split(",");
        var id = data_split[0];
        var means = data_split[1];
        $('#confirm_title').text("Just confirming...");
        $('#confirm_text').text("Confirming the delete of " + means + " as a payment option");
        $('#confirm_extra').text("Do you really want to delete " + means + "?");
        $('#confirm_button').text("Confirm delete");
        $('#confirm_alert').modal('show');
        $('#confirmYes').one('click', function () {
            $.ajax({
                url: "{% url 'finance:payment_option-rud' id=12345 %}".replace(/12345/, id).toString(),
                method: "DELETE",
                dataType: "json",
                success: function (data) {
                   payment_option_table();
                    $('#success_text').text(means+" has been removed as one of the payment options.");
                    $('#confirm_alert').modal('hide');
                    $('#success_alert').modal('show');
                }
            });

        });
        $("#confirmNo").click(function () {
            $('#confirm_alert').modal('hide');
        });

    });
</script>
{% endblock scripts %}



{% endblock content %}


<!--**********************************
    Content body end
***********************************-->